html, body{
  width: 100%
  height: 100%
  margin: 0;
}

html{
  font-family: arial; 
}

.main{
  margin-top: 100px;
  padding: 16px;
  height: 1500px;
  text-align: center
}

.nav {
  /*border-bottom: solid 1px black;*/
  text-align: right;
  height: 70px;
  line-height: 70px;/*mellanrum mellan upptill och mellan textraderna*/
  border: solid 2px red;
  position: fixed;
  top: 0;
  width: 95%;
}

.nav a:hover{
  color: black;
} 

h1 {
  margin: 0 0 0 20px;
  line-height: 70px;
  width: 65px;
  float: left; 
}

.menu {
  margin: 0 30px 0 0;
}

.menu a {
  text-decoration: none;
  color: gray;
  margin: 0 10px;
  line-height: 70px;
  clear: right; /*rensar allt på raden, får det att hoppa ner efter att vi gjort en float right i label*/
}


label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none; /*gömma hamburgaren*/
  width: 26px; /*området runt hamburgaren ska bara vara 26px så att inte hela ytan är klickbar*/
  float: right;
}

#toggle {
 display: none; /*gömma klickrutan*/
}

@media only screen and (max-width : 500px){
  label {
    display: block;
    cursor: pointer;
  }
  
  .menu {
    text-align: center;
    width: 100%;
    display: none;
    background: white;
  }
  
  .menu a {
    display: block;
    border-bottom: solid 1px black;
    
  }
  
  #toggle:checked + .menu{
    display: block; 
  }
  
  h1 {
    width: 54%;
  }
}








